@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-color-outline {
        @apply ring-inset ring-1 ring-primary text-primary;
    }

    .btn-color-outline-white {
        @apply ring-inset ring-1 ring-white text-white;
    }

    .btn-color-fill {
        @apply bg-primary text-white;
    }

    .btn-color-fill-white {
        @apply bg-white text-primary;
    }
}

.datepicker-cell:hover {
    background-color: #DAA515;
    color: white;
}

.datepicker-cell.selected, .datepicker-cell.focused, .today-btn {
    background-color: #DFBE65;
    color: white;
}

.datepicker-main .grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.datepicker-main .w-64 {
    width: 16rem;
}

.datepicker-picker, .datepicker .bg-white {
    background-color: white !important;
}

.swiper-pagination-bullet {
    position: relative;
    width: fit-content; /* Atur sesuai kebutuhan */
    height: auto;
    text-align: left;
    border-radius: 5px; /* Atur sesuai kebutuhan */
    opacity: 1;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.541);
    transition: all ease-in-out;
    transform-origin: right center; /* Set titik transformasi ke kanan */
}

.swiper-pagination-bullet em {
    font-size: 15px;
    line-height: 28px;
    font-weight: bold;
    letter-spacing: -0.38px;
    color: #111;
}

.swiper-pagination-bullet i {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.176);
}

.swiper-pagination-bullet b {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 0%;
    height: 8px;
    background-color: white;
    /*progress bar 채워지는 부분*/
    border-radius: 5px; /* Ganti nilai sesuai kebutuhan */
    /* Tambahkan transisi untuk membuatnya terlihat smooth */
    transition: width ease-in-out, border-radius ease-in-out;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    width: 8px; /* Atur ukuran default */
    border-radius: 5px; /* Atur sesuai kebutuhan */
    transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    transform-origin: right center; /* Set titik transformasi ke kanan */
}

.article-swiper-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    width: 40px; 
}

.swiper-pagination-bullet-active {
    width: 100px !important;
    background: transparent !important;
    border-radius: 5px;
}

.article-swiper-pagination .swiper-pagination-bullet-active {
    width: 40px !important;
}

/* Transisi untuk dot yang aktif */
.swiper-pagination-bullet-active b {
    transition: width 0.3s ease-in-out; /* Ubah sesuai kebutuhan */
    border-radius: 5px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    width: unset !important;
}

@media screen and (max-width: 480px) {
    .swiper-pagination-bullet-active {
        width: 30px !important;
    }

    .swiper-pagination-bullet {
        margin-right: 5px;
    }
}


@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.scroller {
    mask-image: linear-gradient(to right, transparent 3%, white 20%, white 80%, transparent 97%);
}

.scroller-inner {
    width: fit-content;
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-50% - 1.5rem));
    }
}

.item {
    @apply bg-white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
}

.item-1 {
    background-image: url("../../public/images/about/baca-malang.png");
}

.item-2 {
    background-image: url("../../public/images/about/malang-retro.png");
}

.item-3 {
    background-image: url("../../public/images/about/nnc.png");
}

.item-4 {
    background-image: url("../../public/images/about/TIMES-Jakarta.png");
}

.item-5 {
    background-image: url("../../public/images/about/umm.png");
}

.exhibition-banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
